<footer>
    <div class="centered-block content">
        <div class="helpful-line">
            <div class="logo"><img src="./assets/img/aqua-logo.svg" /> aquarius</div>
        </div>
        <div class="copyright-line">
            <div class="copyright">
                © 2021 Aqua.network Ultra Stellar, LLC.
            </div>
            <div class="terms">
                Aquarius runs on Stellar. AQUA tokens are issued on Stellar. The project is unaffiliated with the
                Stellar Development Foundation.
            </div>
        </div>
    </div>
</footer>
