<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Liquidity management layer for Stellar | Aquarius</title>

    <base href="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icons/favicon.ico">
    <link rel="icon" type="image/png" href="assets/img/logo.png" />
    <link rel="canonical" href="/">
    <meta property="og:site_name" content="Aquarius">
    <meta property="og:title" content="Aquarius - liquidity management layer for Stellar">
    <meta property="og:url" content="https://aqua.network/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Designed to make Stellar DEX better.">
    <meta property="og:image" content="https://aqua.network/assets/img/open_graph.png">
    <meta property="og:image:width" content="1388">
    <meta property="og:image:height" content="694">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Aquarius - new liquidity management layer for Stellar.">
    <meta name="twitter:image" content="https://aqua.network/assets/img/open_graph.png">
    <meta name="twitter:description" content="Designed to make Stellar DEX better.">
    <meta name="twitter:url" content="https://aqua.network/">
    <meta name="twitter:image" content="https://aqua.network/assets/img/open_graph.png">
    <meta itemprop="name" content="Meet Aquarius">
    <meta itemprop="url" content="/">
    <meta itemprop="description" content="New liquidity management layer for Stellar">
    <meta itemprop="thumbnailUrl" content="assets/img/logo.png" format=1000w">
    <link rel="image_src" href="assets/img/logo.png" format=1000w">
    <meta itemprop="image" content="assets/img/logo.png" format=1000w">
    <meta name="description" content="Aquarius - new liquidity management layer for Stellar.">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/8.2.5/stellar-sdk.js"></script>
</head>
