<header>
    <div class="logo">
        <img src="./assets/img/aqua-logo.svg">
        aquarius
    </div>

    <a href="https://aqua.network/" target="_blank">
        <button class="back-to-aqua">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 5H10C11.6569 5 13 6.34315 13 8V8C13 9.65685 11.6569 11 10 11H2.44" stroke="white"/>
                <path d="M3 3L1 5L3 7" stroke="white"/>
            </svg>
            <span>Back to aqua.network</span>
        </button>
    </a>
</header>
